/* 480px */
@media only screen and (max-width: 30em) {
}

/* 600px */
@media only screen and (max-width: 37.5em) {
}

/* 768px */
@media only screen and (max-width: 48em) {
}

/* 1024px */
@media only screen and (max-width: 64em) {
}

/* 1800px */
@media only screen and (min-width: 112.5em) {
}

/*  */

/*  */

@media only screen and (max-width: 64em) {
  .login__illustration img:first-of-type {
    top: 20vw;
  }
  .login__illustration img:last-of-type {
    top: 30vw;
  }
}

@media only screen and (max-width: 48em) {
  .login__illustration {
    display: none;
  }

  .sign-in {
    margin: 2vw auto 0 auto;
    width: 80%;
  }

  .form__sign-in--input {
    width: 100%;
  }

  .btn-purple {
    width: 100%;
  }
}

@media only screen and (max-width: 30em) {
  .sign-in {
    width: 90%;
  }
}
